/* Reset di base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografia globale */
body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--text-dark);
}
a {
  text-decoration: none;
  color: inherit;
}
